#summary p.collapse:not(.show) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#summary a.collapsed:after {
    content: 'Read More';
}

#summary a:not(.collapsed):after {
    content: 'Read Less';
}
@media screen and (max-width: 768px){
    .img-home {
        display: none;
    }
}